<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>luaTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6CBB81A81D06F21400D22EDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CBB81C41D06F21400D22EDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CBB81CF1D06F21400D22EDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
